<li ng-class='{"ui-menu-item-select":select}' ng-mouseenter='enter()' ng-mouseleave="leave()">
    <div  ng-if="!action.separate" class="ui-menu-item">
        <div style='width: 24px;height: 20px;float: left;'><img ng-if='action.icon' style='margin-left:4px;width: 16px;height: 16px;' ng-src='{{action.icon}}'></div>
        <under-line-text text='{{action.text}}'></under-line-text>
        <span ng-if='action.children.length > 0' class='right-arrow pull-right' style='margin-top: 6px;margin-right: 4px;'></span>
        <ui-menu ng-if='action.children.length > 0' action='{{action.id}}' ng-show="select" class="ui-sub-menu"></ui-menu>
    </div>
    <div ng-if="action.separate" class="ui-separate-menu">

    </div>
</li>